@import url(./root.css);

body {
  padding: 0;
  margin: 0;
  accent-color: var(--accent);
}

iframe {
  border-radius: var(--border-radius);
  border: var(--border-thickness) solid var(--border-color) ;
}

a {
  color: var(--button-background);
}

a:hover {
  color: var(--button-background);
  filter: brightness(120%);
}

img {
  border-radius: var(--border-radius);
}

#root {
  display: flex;
  flex-flow: column nowrap;
  width: 100dvw;
  height: 100dvh;
  padding: 0;
  margin: 0;
}